# version: "3.8"

services:
  portfolio-client:
    image: haiou2003/my-photographer-portfolio-app-client:latest
    container_name: portfolio-client
    env_file:
      - ./client/.env.production
    restart: unless-stopped
    ports:
      - "3000:80"

  portfolio-server:
    image: haiou2003/my-photographer-portfolio-app-server:latest
    container_name: portfolio-server
    env_file:
      - ./server/.env.production
    restart: unless-stopped
    ports:
      - "5000:5000"