services:
  client:
    image: haiou2003/my-photographer-portfolio-app-client:latest
    ports:
      - "3000:80"
    restart: unless-stopped

  server:
    image: haiou2003/my-photographer-portfolio-app-server:latest
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    restart: unless-stopped