/* ======================= Dashboard Layout ======================= */

.dashboard {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  background: #f5f6fa;
  font-family: Arial, sans-serif;
}

/* Sidebar trên desktop */
.sidebar-left {
  width: 30%;
  background: white;
  border-right: 1px solid #ddd;
  padding-bottom: 20px;
  overflow-y: auto;
}

.sidebar-right {
  width: 70%;
  background: white;
  border-right: 1px solid #ddd;
  padding-bottom: 20px;
  overflow-y: auto;
}

/* Nội dung chính */
.content {
  flex: 1;
  padding: 20px;
}

/* ======================= BUTTONS ======================= */

.btn {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn:hover {
  opacity: 0.85;
}

.btn-green {
  background: #28a745;
  color: white;
}

.btn-red {
  background: #bd1212;
  color: white;
}

.btn-primary {
  background: #007bff;
  color: white;
}

/* Spinner animation */
.spinner-btn {
  width: 20px;
  height: 20px;
  border: 6px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 10px;
}


/* Mobile: nút full width */
@media (max-width: 640px) {
  .btn {
    width: 100%;
    justify-content: center;
  }
}


/* Tablet: Sidebar thu nhỏ */
@media (max-width: 1024px) {
  .sidebar-left {
    width: 35%;
  }
  .sidebar-right {
    width: 75%;
  }
}

/* Mobile: Sidebar thành overlay */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar-left {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

   .sidebar-right {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
  
  .content {
    padding: 15px;
  }
}
