.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  gap: 12px;
}

.pagination-btn {
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s ease;
}

.pagination-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background: #000;
}

.pagination-info {
  font-size: 15px;
}
